
form{
    display: flex;
    flex-direction: column
}
.containerGlobal{
    display: grid
}
.listContainer{
    margin-top: 10px;
    height: 35vh;
    overflow-y: scroll;
    display:grid;
    gap: 10px
}
h1{
    margin-top: 80px;
    font-family: 'Roboto';
    font-weight: 400;
    max-width: 300px;
    font-size: 28pt
}
.listTipos{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20em;
    height: 50px;
    background: #E4E4E7;
    padding: 5px;
    justify-content: left;
    
}


.listTipos span{
    
font-family: 'Roboto';
font-size: 12pt;
margin-left: 15px;
color: #27272A;
}
input{
    margin-left: 10px
}
.containerBtn{
    padding: 12px 20px;
    display: inline-block;
    text-align: center;
    margin: 80px ;
    cursor: pointer;
    background-color: #025373;
    color: #F2F2F2;
    border: none;
}
.txt{
    font-family: 'Roboto';
    font-weight: 600
}